#devise-registration-edit-container.has_bg
  .content-text.main-container
    .wrap-header
      .row
        .col-xs-6.title Edit my account
        .col-xs-6.back-link
          = link_to 'Back to main', user_info_path
    .form-container
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .bound-basic
          %h4.subtitle Basic Information
          = devise_error_messages!
          .row
            .col-sm-4
              .name_field.form-group
                = f.label :name, class: 'required'
                .input-group
                  = f.text_field :name, autofocus: true
                %label.error This field is required
            .col-sm-4
              .email_field.form-group
                = f.label :email, class: 'required'
                .input-group
                  = f.email_field :email
                %label.error This field is required
          .row
            .col-sm-4
              .contact_number_field.form-group
                = f.label :contact_number, class: 'required'
                .input-group
                  = f.text_field :contact_number
                %label.error This field is required
            .col-sm-4
              .alternative_contact_number_field.form-group
                = f.label :alternative_contact_number, class: 'required'
                .input-group
                  = f.text_field :alternative_contact_number
                %label.error This field is required
          .row
            .col-sm-8
              .address.form-group.read-only
                = f.label :address
                .input-group
                  - if current_user.changeable_address == 'no'
                    = f.text_area :address, disabled: 'disabled'
                  - else
                    = f.text_area :address
          .row
            .col-sm-4
              .unit.form-group.read-only
                = f.label :unit
                .input-group
                  - if current_user.changeable_address == 'no'
                    = f.text_field :unit, disabled: 'disabled'
                  - else
                    = f.text_field :unit
            .col-sm-4
              .postal.form-group.read-only
                = f.label :postal
                .input-group
                  - if current_user.changeable_address == 'no'
                    = f.text_field :postal, disabled: 'disabled'
                  - else
                    = f.text_field :postal
          .row
            .col-sm-8
              .instruction.form-group
                = f.label :instruction, 'Special Instruction'
                .input-group
                  = f.text_area :instruction
                  .help-block (e.g. “I have a pet dog” Or “Please inform the housekeeper to notify the guard post of my unit number and they will intercom me.”)

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .row
            .col-sm-4
              .password_field.form-group
                = f.label 'New password'
                .input-group
                  = f.password_field :password, autocomplete: 'off'
                %label.password.error This field is required

              .password_confirmation_field.form-group
                = f.label 'New password confirmation'
                .input-group
                  = f.password_field :password_confirmation, autocomplete: 'off'
                %label.password_confirmation.error This field is required

              .password_current_field.form-group
                = f.label 'Verify Current Password *'
                .input-group
                  = f.password_field :current_password, autocomplete: 'off'
                %label.password_current.error This field is required
                .help-block (We need your current password to confirm your changes.)

              .form-group
                .control.row
                  .col-sm-6
                    = f.submit 'Update', class: 'button-submit btn-effect btn-2 btn-2c'
                  .col-sm-6
                    = link_to 'Back', user_info_path, class: 'btn-effect btn-3 btn-3c'
    .wrap-delete-user
      %h4.subtitle Delete my account
      %p.desc-info I wish to delete my account
      .cancel_acc_button
        = form_tag(registration_path(resource_name), method: :delete) do
          = button_tag 'Delete my account', type: 'button', class: 'button-warning btn-effect btn-4 btn-4c', id: 'delete_account_button'
:javascript
  $('#delete_account_button').click(function(e) {
    bootbox.confirm({
      title: "Notification",
      message: "Are you sure you want to delete your account? This action is permanent and there will not be any refund of the remaining credit in your account.",
      buttons: {
          cancel: {
              label: "No, keep my account",
              className: "btn-default pull-left"
          },
          confirm: {
              label: "Yes, delete my account",
              className: "btn-danger pull-right"
          }
      },
      callback: function(result) {
        if (result) {
          $('#delete_account_button').parents('form').submit();
        } else {

        }
      }
    })
  });

  $("#edit_user").submit(function( event ) {

    if(!validate_form())
      event.preventDefault();

  });

  function validate_form(){

    var name_field = $('input#user_name');
    var email_field = $('input#user_email');
    var password_field = $('input#user_password');
    var password_confirmation_field = $('input#user_password_confirmation');
    var contact_number_field = $('input#user_contact_number');
    var alternative_contact_number_field = $('input#user_alternative_contact_number');
    var password_current_field = $('input#user_current_password');


    //reset
    $('#edit_user').find('.form-group').removeClass('required');

    if($.trim(name_field.val()) == '')
      $('.name_field').addClass('required');

    if($.trim(email_field.val()) == '')
      $('.email_field').addClass('required');

    var password = true;

    if($.trim(password_confirmation_field.val()) != '' || $.trim(password_field.val()) != '' )
    {
       if(password_field.val().length < 6){
            $('.password_field').addClass('required');
            $('label.password').html('Password needs to contain at least 6 characters.');
       }
       else if(password_field.val() != password_confirmation_field.val()){
            $('.password_confirmation_field').addClass('required');
            $('label.password_confirmation').html('Password confirmation does not match password.');
       }
    }

    if($.trim(password_current_field.val()) == '')
      $('.password_current_field').addClass('required');

    if($.trim(contact_number_field.val()) == '')
      $('.contact_number_field').addClass('required');

    if($.trim(alternative_contact_number_field.val()) == '')
      $('.alternative_contact_number_field').addClass('required');


    return !$('#edit_user').find('.form-group').hasClass('required');
  }
