#devise-registration-new-container
  .form-container
    %h2 Sign up

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!

      .name.form-group
        = f.label :name
        .input-group
          = f.text_field :name, autofocus: true

      .email.form-group
        = f.label :email
        .input-group
          = f.email_field :email

      .password.form-group
        = f.label :password
        .input-group
          = f.password_field :password, autocomplete: "off"

      .password-confirmation.form-group
        = f.label :password_confirmation
        .input-group
          = f.password_field :password_confirmation, autocomplete: "off"

      .address.form-group
        = f.label :address
        .input-group
          = f.text_area :address

      .contact_number.form-group
        = f.label :contact_number
        .input-group
          = f.text_field :contact_number

      .unit.form-group
        = f.label :unit
        .input-group
          = f.text_field :unit

      .postal.form-group
        = f.label :postal
        .input-group
          = f.text_field :postal

      .instruction.form-group
        = f.label :instruction, 'Special Instruction'
        .input-group
          = f.text_area :instruction

      .form-group
        .col-md-offset-2.col-md-10
          .checkbox
            %label
              = f.check_box :terms_of_service
              I agree to the terms of service

      .form-group
        .col-md-offset-2.col-md-10
          .checkbox
            %label
              = check_box_tag :subscribe_to_mailing_list, "1"
              Please subscribe me to the exciting mailing list with lots of promotion!

      .submit= f.submit "Sign up"
