!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = "Dear #{@time_slot.user.name},"
    %br
    %br
    = "Good Day!"
    %br
    %br
    = "Your booking has been confirmed!"
    %br
    = "Your house will be cleaned on: #{day_in_words @time_slot.start_time}"
    %br
    %div
      %p= "Start time : #{time_in_words @time_slot.start_time}"
      %p= "End time : #{time_in_words @time_slot.end_time}"
      %p= "Duration : #{to_durations(@time_slot.start_time, @time_slot.end_time)} hours"
    %br
    %p
      = "Our housekeepers may be identified by their company issued staff ID and lanyard."
      = "For additional identity verification, you may request to see the physical copy of our housekeeper’s NRIC or ID when she arrives at your house."
    %br
    %p= "For any clarification, please feel free to contact us."
    %br
    %div
      %p= "Client: #{@time_slot.user.name}"
      %p= "Contact No.: #{@time_slot.user.contact_number}"
      %p= "Address: #{@time_slot.user.address}"
      %p= "Date: #{ time_in_words_with_day @time_slot.created_at}"
      %p= "Time: #{@time_slot.start_time.hour} - #{@time_slot.end_time.hour}"
      %p= "Housekeeper Assigned: #{@time_slot.housekeeper.name}"
      %p= "Special Remarks: #{@time_slot.remarks}"
      %p= "Date the booking was made: #{time_in_words_with_day @time_slot.created_at}"
    %div
      = "Housekeeper:"
      = @time_slot.housekeeper.name
    %br
    %br
    = render partial: 'user_mailer/signature'
