!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = "Good Day!"
    %br
    %br
    = "You have made the changes to your booking."
    %br
    = "Your booking has been changed to:"
    %br
    %br
    %div
      = "Date, Time and duration of booking: "
      %p= "Start time : #{time_in_words @time_slot.start_time}"
      %p= "End time : #{time_in_words @time_slot.end_time}"
      %p= "Duration : #{to_durations(@time_slot.start_time, @time_slot.end_time)}"
      %p= "Housekeeper Assigned: #{@time_slot.housekeeper.name}"
      %p= "Special Remarks: #{@time_slot.remarks}"
    %br
    = "Date the booking was amended: #{time_in_words @time_slot.updated_at}"
    %br
    = "For any clarification, please feel free to contact us."
  = render partial: 'user_mailer/signature'
