!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = "Dear #{@time_slot.user.name},"
    %br
    %br
    = "Good Day!"
    %br
    %br
    = "There had been some amendments made to your booking. "
    %br
    = "Your house will now be cleaned on: #{day_in_words @time_slot.start_time}"
    %br
    %div
      %p= "Start time : #{time_in_words @time_slot.start_time}"
      %p= "End time : #{time_in_words @time_slot.end_time}"
      %p= "Duration : #{to_durations(@time_slot.start_time, @time_slot.end_time)} hours"
      %p= "Housekeeper Assigned: #{@time_slot.housekeeper.name}"
      %p= "Special Remarks: #{@time_slot.remarks}"
    %br
    = "Date the booking was amended: #{time_in_words_with_day @time_slot.updated_at}"
    %br
    = "For any clarification, please feel free to contact us."
  = render partial: 'user_mailer/signature'
