!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = "Dear #{@time_slot.user.name},"
    %br
    %br
    = "Good Day!"
    %br
    %br
    = "Your booking has been confirmed!"
    %br
    = "Your house will be cleaned on: #{day_in_words @time_slot.start_time}"
    %br
    %div
      - if surcharge?(@time_slot.start_time)
        %p= "Please note that the additional $10 weekend surcharge should be paid in cash, to the housekeeper, at the end of the cleaning session."
      %p= "Start time : #{time_in_words @time_slot.start_time}"
      %p= "End time : #{time_in_words @time_slot.end_time}"
      %p= "Duration : #{to_durations(@time_slot.start_time, @time_slot.end_time)} hours"
      %p= "Housekeeper Assigned: #{@time_slot.housekeeper.name}"
      %p= "Special Remarks: #{@time_slot.remarks}"
      %p= "Address: #{@time_slot.user.address}"
    %p
      = "Our housekeepers may be identified by their company issued staff ID and lanyard."
      = "For additional identity verification, you may request to see the physical copy of our housekeeper’s NRIC or ID when she arrives at your house."
    %p= "For any clarification, please feel free to contact us."
    %br
    %br
    = render partial: 'user_mailer/signature'
