!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    = "Dear #{@time_slot.user.name},"
    %br
    %br
    = "Good Day!"
    %br
    %br
    = "You have cancelled a scheduled cleaning session:"
    %br
    %div
      %p= "Date : #{day_in_words @time_slot.start_time}"
      %p= "Start time : #{time_in_words @time_slot.start_time}"
      %p= "End time : #{time_in_words @time_slot.end_time}"
      %p= "Duration : #{to_durations(@time_slot.start_time, @time_slot.end_time)} hours"
    %br
    = "Feel free to make a new booking for your next cleaning session."
    %br
    = "For any clarifications, do not hesitate to contact us."
    %br
    %br
  = render partial: 'user_mailer/signature'

