%h2#page-heading= "Edit Booking"

%div
  %label Start Time :
  = @time_slot.start_time.strftime("%H:%M %d-%B-%Y")
= simple_form_for @time_slot, url: booking_path, method: :patch do |f|
  = f.input :start_time, :as => :datetime, :minute_step => 30
  = f.input :id, as: :hidden
  = f.input :duration, collection: [ ["3 hours", 3], ["4 hours", 4], ["5 hours", 5]], prompt: "Select your duration", label: 'Duration :'
  = f.input :remarks, as: :text, label: 'Remarks :'
  = f.submit "Book this slot", class: 'btn'
