.user_info_wrapper
  %h2 USER ACCOUNT
  %div.user_info
    %h3 User information
    %label Name :
    = current_user.name
    %br
    %label Email :
    = current_user.email
    %br
    %label Address :
    = current_user.address
    %br
    %label Postal :
    = current_user.postal
    %br
    %label Total bought hours  :
    = current_user.total_hours_bought
    %br
    %label Current number of available hours :
    = current_user.total_current_hours
    %div
      %p DID YOU KNOW?
      %p You have the choice of varying the duration of each cleaning session according to your household needs.
      %p Your remaining sessions are denominated in hours so that you could book 3-/4-/5-hour sessions accordingly.
  %div.user_bookings
    %h3 User bookings
    %table.table.table-striped
      %thead
        %tr
          %th Start Time
          %th End Time
          %th Duration
          %th Housekeeper
          %th Remarks
          %th Action
      %tbody
      - current_user.time_slots.each do |t|
        %tr
          %td= time_in_words t.start_time
          %td= time_in_words t.end_time
          %td
            = to_durations(t.start_time, t.end_time)
            = " hours"
          %td= t.housekeeper.name
          %td= t.remarks
          %td
            %div.pull-left
              - if modify?(t.start_time)
                =button_to "Modify", edit_booking_path(t) , method: :get, data: { confirm: "Are you sure?" }, class: "btn"
            %div.pull-left
              =button_to "Cancel", booking_path(t) , method: :delete, data: { confirm: "Are you sure?" }, class: "btn"
