#users-info-container.has_bg
  .content-text.main-container
    .wrap-welcome
      .row
        .col-sm-6.welcome
          ="Welcome back, #{current_user.name} !"
        .col-sm-6.help-link
          = link_to 'Tips on managing my account', tips_user_path, {target: '_blank'}
    %h3.head-title My Account
    .wrap-user-info.row
      .col-sm-6.user-info
        .bound
          .full-name
            = current_user.name
        %hr
        .bound
          %table.table-user-info
            %tr
              %td
                %label Email
              %td.val=": #{current_user.email}"
            %tr
              %td
                %label Contact number
              %td.val=": #{current_user.contact_number}"
            %tr
              %td
                %label Address
              %td.val=": #{current_user.address}"
            %tr
              %td
                %label Postal
              %td.val=": #{current_user.postal}"
      .col-sm-3.bound-total-bought
        .bound
          %span.available-hours{'data-placement' => 'top', 'data-toggle' => 'tooltip', :title => 'Your purchased package is now denominated in hours.'} Available hours
          %br
          %span.val-hour
            = current_user.total_hours_current
          .expire-hour.clr
            = show_expire_date(current_user.expire_date)
        %hr
        .bound
          .total-hours Total hours bought
          %span.val-total
            = current_user.total_hours_bought
      .col-sm-3.wrap-user-photo
        .photo
          = image_tag current_user.avatar.url(:thumb)
        .control
          = link_to 'Edit account', edit_user_registration_path, class: 'edit-account'
          %br
          = link_to 'Enter Promotion Code', user_new_promotion_path, class: 'promotion-code'
    .wrap_user_bookings.row
      .col-md-12
        %h3.subtitle My Bookings

        - if @upcoming_booking.present?
          .upcoming-booking
            .label-tab-booking Upcoming bookings
            = render partial: 'users/bookings', locals: {bookings: @upcoming_booking}
        .control
          = link_to 'Make a new Booking', new_contact_form_path, class: 'btn make-booking'
        - if @previous_booking.present?
          .previous-booking
            .label-tab-booking Previous bookings
            = render partial: 'users/bookings', locals: {bookings: @previous_booking}
        - else
          .no-bookings
            = image_tag('ic-calandar.png', border: 0, class:'ic-calendar')
            %br
            %span.you-dont You don't have any upcoming bookings.
            %br
            %span.make-booking
              Make a new booking
              = link_to 'here', new_contact_form_path, class: 'booking-here'
    .did-you-know.row
      .col-md-12
        %p.subtitle DID YOU KNOW?
        %p You have the choice of varying the duration of each cleaning session according to your household needs.
        %p Your remaining sessions are denominated in hours so that you could book 3-/4-/5-hour sessions accordingly.
        %p
          =link_to 'Find out more about the conversion >', tips_user_path, class:'find-out'



:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('.delete_button_without_refund').click(function(e) {
      button = $(this)
      form = button.parents('form')
      bootbox.confirm({
        title: "Notification",
        message: "Last minute cancellation: There will not be a refund if you cancel this booking. Are you sure you want to proceed?",
        buttons: {
            cancel: {
                label: "No, keep the booking",
                className: "btn-default pull-left"
            },
            confirm: {
                label: "Yes, cancel without refund",
                className: "btn-danger pull-right"
            }
        },
        callback: function(result) {
          if (result) {
            form.submit();
          } 
        }
      })
    });

    $('.delete_button').click(function(e) {
      button = $(this)
      form = button.parents('form')
      bootbox.confirm({
        title: "Notification",
        message: "Are you sure you want to proceed?",
        buttons: {
            cancel: {
                label: "No, keep the booking",
                className: "btn-default pull-left"
            },
            confirm: {
                label: "Yes, cancel",
                className: "btn-danger pull-right"
            }
        },
        callback: function(result) {
          if (result) {
            form.submit();
          } 
        }
      })
    });

    $('.modify_button').click(function(e) {
      button = $(this)
      form = button.parents('form')
      bootbox.confirm({
        title: "Notification",
        message: "Are you sure you want to proceed?",
        buttons: {
            cancel: {
                label: "No, keep the booking",
                className: "btn-default pull-left"
            },
            confirm: {
                label: "Yes, modify",
                className: "btn-primary pull-right"
            }
        },
        callback: function(result) {
          if (result) {
            form.submit();
          }
        }
      })
    });
  })
