#users-info-container.has_bg
  .content-text.main-container
    .wrap-welcome
      .row
        .col-sm-6.welcome
          ="Welcome back, #{current_user.name} !"
        .col-sm-6.help-link
          = link_to 'Tips on managing my account', tips_user_path, {target: '_blank'}
    %h3.head-title My Account
    .wrap-user-info.row
      .col-sm-6.user-info
        .bound
          .full-name
            = current_user.name
        %hr
        .bound
          %table.table-user-info
            %tr
              %td
                %label Email
              %td.val=": #{current_user.email}"
            %tr
              %td
                %label Contact number
              %td.val=": #{current_user.contact_number}"
            %tr
              %td
                %label Address
              %td.val=": #{current_user.address}"
            %tr
              %td
                %label Postal
              %td.val=": #{current_user.postal}"
      .col-sm-3.bound-total-bought
        .bound
          %span.available-hours{'data-placement' => 'top', 'data-toggle' => 'tooltip', :title => 'Your purchased package is now denominated in hours.'} Available hours
          %br
          %span.val-hour
            = current_user.total_hours_current
          .expire-hour
            = show_expire_date(current_user.expire_date)
        %hr
        .bound
          .total-hours Total hours bought
          %span.val-total
            = current_user.total_hours_bought
      .col-sm-3.wrap-user-photo
        .photo
          = image_tag('user-missing.jpg', :border => 0)
        .control
          = link_to 'Edit account', edit_user_registration_path, class: 'edit-account'
          %br
          = link_to 'Enter Promotion Code', user_new_promotion_path, class: 'promotion-code'
    .wrap_user_bookings.row
      .col-md-12
        %h3.subtitle My Bookings
        .control
          = link_to 'Make a new Booking', booking_path, class: 'btn make-booking'
        - if current_user.time_slots.present?
          %table.table.list-booking
            %thead
              %tr
                %th Date
                %th Time
                %th Duration
                %th Housekeeper
                %th Remark
                %th
            %tbody
            - current_user.time_slots.each do |t|
              %tr
                %td= date_format_dby t.start_time
                %td= booking_time_from_to(t.start_time, t.end_time)
                %td
                  = to_durations(t.start_time, t.end_time)
                  = ' hours'
                %td= t.housekeeper.name
                %td= t.remarks
                %td
                  %div.pull-left
                    - if show_action_button?(t.start_time)
                      - if refund?(t.start_time)
                        = form_tag(time_slot_path(t), method: :delete) do
                          = button_tag 'Cancel', type: 'button', class: 'btn delete_button'
                      - else
                        = form_tag(time_slot_path(t), method: :delete) do
                          = button_tag 'Cancel', type: 'button', class: 'btn delete_button_without_refund'
                  - unless show_action_button?(t.start_time)
                    - unless t.contain_feedback?
                      %div.pull-left
                        %button.btn{"data-target" => "#feedback_form_#{t.id}", "data-toggle" => "modal"} Feedback
                        = render template: 'feedbacks/feedback', :locals => { :@time_slot => t }
    .did-you-know.row
      .col-md-12
        %p.subtitle DID YOU KNOW?
        %p You have the choice of varying the duration of each cleaning session according to your household needs.
        %p Your remaining sessions are denominated in hours so that you could book 3-/4-/5-hour sessions accordingly.
        %p
          =link_to 'Find out more about the conversion >', tips_user_path, class:'find-out'



:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('.delete_button_without_refund').click(function(e) {
      button = $(this)
      form = button.parents('form')
      bootbox.confirm({
        title: "Notification",
        message: "Last minute cancellation: There will not be a refund if you cancel this booking. Are you sure you want to proceed?",
        buttons: {
            cancel: {
                label: "No, keep the booking",
                className: "btn-default pull-left"
            },
            confirm: {
                label: "Yes, cancel without refund",
                className: "btn-danger pull-right"
            }
        },
        callback: function(result) {
          if (result) {
            form.submit();
          } 
        }
      })
    });

    $('.delete_button').click(function(e) {
      button = $(this)
      form = button.parents('form')
      bootbox.confirm({
        title: "Notification",
        message: "Are you sure you want to proceed?",
        buttons: {
            cancel: {
                label: "No, keep the booking",
                className: "btn-default pull-left"
            },
            confirm: {
                label: "Yes, cancel",
                className: "btn-danger pull-right"
            }
        },
        callback: function(result) {
          if (result) {
            form.submit();
          } 
        }
      })
    });

    $('.modify_button').click(function(e) {
      button = $(this)
      form = button.parents('form')
      bootbox.confirm({
        title: "Notification",
        message: "Are you sure you want to proceed?",
        buttons: {
            cancel: {
                label: "No, keep the booking",
                className: "btn-default pull-left"
            },
            confirm: {
                label: "Yes, modify",
                className: "btn-primary pull-right"
            }
        },
        callback: function(result) {
          if (result) {
            form.submit();
          }
        }
      })
    });
  })
