#user-promotion-container.has_bg
  .content-text.main-container
    .wrap-header
      .row
        .col-xs-6.title Promotion
        .col-xs-6.back-link
          = link_to 'Back to main', user_info_path
    .form-container
      = form_tag user_add_promotion_path, method: :patch do
        .row
          .col-sm-6
            .form-group
              = label_tag 'code','Promotion Code', class: 'required'
              .input-group
                = text_field_tag :code
            .form-group
              .control
                = submit_tag 'Submit' , class: 'button-submit btn-effect btn-2 btn-2c'
            = hidden_field_tag :authenticity_token, form_authenticity_token
