#user-promotion-container
  .help-link
    = link_to image_tag("help/link.png", :border => 0, :alt => 'Tips', :title => 'Tips'), tips_user_path, {target: "_blank"}
  = page_heading "User Account"
  .form-container
    = form_tag user_add_promotion_path, method: :patch do
      .form-group
        = label_tag 'code','Promotion Code', class: 'required'
        .input-group
          = text_field_tag :code
      .form-group
        .div-button
          = submit_tag "Submit" , class: "btn btn-primary"
      = hidden_field_tag :authenticity_token, form_authenticity_token
