#shared-footer-container
  #shared-footer.row
    .navigation.col-md-7
      %ul.ul-nav
        %li{ class: display_active_menu_item(about_us_path) }
          = link_to 'About Us', about_us_path
        %li{ class: display_active_menu_item(terms_and_condition_path) }
          = link_to 'Terms & Condition', terms_and_condition_path
        %li{ class: display_active_menu_item(disclaimer_privacy_policy_path) }
          = link_to 'Disclaimer', disclaimer_privacy_policy_path
        %li{ class: display_active_menu_item(blogs_path) }
          = link_to 'Articles', blogs_path
        %li{ class: display_active_menu_item(new_contact_form_path), data: { no_turbolink: true }}
          = link_to 'Contact Us', new_contact_form_path
        %li{ class: display_active_menu_item(join_us_path) }
          = link_to 'Join Us', join_us_path
        %li{ class: display_active_menu_item(sitemap_path) }
          = link_to 'Site map', sitemap_path
    .copyright.col-md-5
      © 2014 OUR CLEANING DEPARTMENT  |  ALL RIGHTS RESERVED.

    %span#back-to-top back to top
:javascript
  $("#back-to-top").click(function() {
    $("html, body").animate({ scrollTop: 0 }, "slow");
    return false;
  });
