#shared-main-nav-container
  %ul.main-nav
    %li{class: display_active_menu_item(root_path)}
      = link_to 'Home<span>Welcome</span>'.html_safe, root_path
    %li{ class: display_active_menu_item(job_scope_and_time_to_task_path) }
      = link_to 'Our services<span>Discover what we offer</span>'.html_safe, job_scope_and_time_to_task_path
    %li{class: display_active_menu_item(buy_package_path)}
      = link_to 'Rates<span>Buy a package</span>'.html_safe, buy_package_path
    %li{class: display_active_menu_item(booking_path)}
      = link_to 'Booking<span>Make a booking</span>'.html_safe, booking_path
    %li{ class: display_active_menu_item(faq_path) }
      = link_to 'FAQ<span>Answers & Info'.html_safe, faq_path
