!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Booking Updated
    %br
    %div
      = "User"
      %p= "Customer's name: #{@time_slot.user.name}"
      %p= "Address: #{@time_slot.user.address}"
      %p= "Email: #{@time_slot.user.email}"
      %p= "Hp: #{@time_slot.user.contact_number}"
    %br
    %div
      = "(Initial)"
      %br
      = "Date, Time and duration of booking: "
      %p
        - start_time = (@time_slot.previous_changes['start_time'].present?) ? @time_slot.previous_changes['start_time'][0] : @time_slot.start_time
        = "Start time : #{time_in_words_with_day (start_time)}"
      %p
        - end_time = (@time_slot.previous_changes['end_time'].present?) ? @time_slot.previous_changes['end_time'][0] : @time_slot.end_time
        = "End time : #{time_in_words_with_day (end_time)}"
      %p= "Duration : #{to_durations(start_time, end_time)}"
    %br
    %div
      = "Housekeeper: #{(@time_slot.previous_changes['housekeeper_id'].present?) ? Housekeeper.find(@time_slot.previous_changes['housekeeper_id'][0].to_i).name : @time_slot.housekeeper.name}"
    %br
    %div
      = "(Updated)"
      %br
      = "Date, Time and duration of booking: "
      %p= "Start time : #{time_in_words_with_day @time_slot.start_time}"
      %p= "End time : #{time_in_words_with_day @time_slot.end_time}"
      %p= "Duration : #{to_durations(@time_slot.start_time, @time_slot.end_time)}"
    %br
    %div= "Housekeeper: #{@time_slot.housekeeper.name}"
