!!!
%html
  %head
    = favicon_link_tag 'logo.ico'

    %title= page_title
    //for facebook
    %meta{:content => page_title, :property => "og:title"}
    %meta{:content => page_image, :property => "og:image"}
    %meta{:content => page_desc, :property => "og:description"}

    //for google
    %meta{:content => page_title, :name => "title"}
    %meta{:content => page_desc, :name => "description"}

    //for twitter
    %meta{:content => page_title, :name => "twitter:title"}
    %meta{:content => page_image, :name => "twitter:image"}
    %meta{:content => page_desc, :name => "twitter:description"}

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags


  %body
    #loader
      = image_tag 'ajax-loader.gif', class: 'ajax-loader'
    = render 'shared/top'
    .clr
    = render 'shared/flash'

    = render 'shared/rotating_banner'
    #main-body-container
      .main-body
        = yield
    .clr
    = render 'shared/mailing_list'
    .clr
    = render 'shared/footer'

    #fb-root
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51593482-1', 'ourcleaningdepartment.com');
      ga('send', 'pageview');

      (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=746122898793292&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
