!!!
%html
  %head
    = favicon_link_tag 'favicon.ico'
    %title= page_title
    //for facebook
    %meta{:content => page_title, :property => "og:title"}
    %meta{:content => page_image, :property => "og:image"}
    %meta{:content => page_desc, :property => "og:description"}


    //for google
    %meta{:content => page_title, :name => "title"}
    %meta{:content => page_desc, :name => "description"}

    //for twitter
    %meta{:content => page_title, :name => "twitter:title"}
    %meta{:content => page_image, :name => "twitter:image"}
    %meta{:content => page_desc, :name => "twitter:description"}

    -#%script{:src => "http://www.google.com/recaptcha/api/js/recaptcha.js", :type => "text/javascript"}

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body

    .user-nav-container
      %ul.ul-nav
        - unless user_signed_in?
          %li{class: display_active_menu_item(new_user_registration_path)}
            = link_to 'Register', new_user_registration_path
        - if user_signed_in?
          %li{class: display_active_menu_item(user_info_path)}
            = link_to 'My Account', user_info_path
          %li= link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          %li{class: display_active_menu_item(new_user_session_path)}
            = link_to 'Sign in', new_user_session_path
    .banner-container
      OCD BANNER
    .main-nav-container
      %ul.main-nav
        %li{class: display_active_menu_item(root_path)}
          = link_to 'Home', root_path
        %li{ class: display_active_menu_item(job_scope_and_time_to_task_path) }
          = link_to "Getting Started", job_scope_and_time_to_task_path
        %li{class: display_active_menu_item(buy_package_path)}
          = link_to 'Rates', buy_package_path
        %li{class: display_active_menu_item(time_slots_path)}
          = link_to 'Booking', time_slots_path
        %li{ class: display_active_menu_item(faq_path) }
          = link_to 'FAQ', faq_path

    .main-body
      - if notice.present?
        %p.notice= notice
      - if alert.present?
        %p.warning= alert

      = yield

    .footer
      %ul.ul-nav
        %li{ class: display_active_menu_item(about_us_path) }
          = link_to 'About Us', about_us_path
        %li{ class: display_active_menu_item(terms_and_condition_path) }
          = link_to 'Terms & Condition', terms_and_condition_path
        %li{ class: display_active_menu_item(disclaimer_privacy_policy_path) }
          = link_to 'Disclaimer', disclaimer_privacy_policy_path
        %li{ class: display_active_menu_item(blogs_path) }
          = link_to 'Articles', blogs_path
        %li{ class: display_active_menu_item(new_contact_form_path), data: { no_turbolink: true }}
          = link_to 'Contact Us', new_contact_form_path
        %li{ class: display_active_menu_item(join_us_path) }
          = link_to 'Join Us', join_us_path
        %li{ }
          = link_to 'Site map'
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51593482-1', 'ourcleaningdepartment.com');
  ga('send', 'pageview');


